menu "Manux Kernel Configuration"

    menu "Memory Configuration"


        config AS_RAM_START
            hex "The address where the system ram starts"
            default 0x2000
            range 0x0000 0xFFFF
            prompt "Set the system ram start address"
            help 
            "The address where the system ram starts"

        config COMMON_KERNEL_WORKSPACE
            hex "The address where the kernel workspace starts"
            default 0x2000
            range 0x0000 0xFFFF
            prompt "Set the kernel workspace start address"
            help 
            "The address where the kernel workspace starts. The workspace holds important kernel variables and data structures."

        menu "Stack Configuration"
            config COMMON_REGISTER_SP
                hex
                default 0xFFFF
                range 0x0000 0xFFFF
                prompt "Set the stack start address"
                help 
                "The address where the stack starts downwards"

        endmenu
        
        menu "Heap Configuration"

            config CC_ENABLE_HEAP
                bool
                default n
                prompt "Enable the kernel heap"
                help
                "Enable the kernel heap"

            config CC_HEAP_SIZE
                depends on CC_ENABLE_HEAP
                hex "The size of the kernel heap"
                default 0x1000
                range 0x0000 0xFFFF
                prompt "Set the kernel heap size (B)"
                help
                "The size of the kernel heap"
            config CC_HEAP_ADDRESS
                depends on CC_ENABLE_HEAP
                hex "The address of the kernel heap"
                default 0xF000
                range 0x0000 0xFFFF
                prompt "Set the kernel heap address"
                help
                "The address of the kernel heap"

        endmenu

    endmenu
    
    menu "z88dk Options"
        config CC_ENABLE_STDIO
            bool
            default y
            prompt "Enable z88dk's stdio"
            help
            "Enable z88dk's stdio. May be required for some programs."
        config CC_CRT_MODEL
            hex "Data compression model"
            default 1
            range 0 3
            prompt "Set the data compression model"
            help
            "Data compression model used for ROM data. See the z88dk documentation for more information."

        config COMMON_CRT_ENABLE_RST
            hex
            default 0x96
            range 0x00 0xff
            prompt "Set the rst vector bitmask"
            help
            "0x02 = RST 0x08, 0x04 = RST 0x10, etc.."

    endmenu

    menu "Kernel Options"
        config COMMON_CRT_ORG_CODE
            hex "The address where the kernel code starts"
            default 0x0000
            range 0x0000 0xFFFF
            prompt "Set the kernel start address."
            help
            "The address where the kernel starts. Note: 4 bytes are reserved for syscall vector(JP Callee + 1 align byte)."

        config COMMON_CRT_ORG_BSS
            hex "The address where the kernel bss starts"
            default 0x2A00
            range 0x0000 0xFFFF
            prompt "Set the kernel bss start address."
            help
            "The address where the kernel bss starts."

        config COMMON_CRT_ORG_DATA
            hex "The address where the kernel data starts"
            default -1
            range 0x0000 0xFFFF
            prompt "Set the kernel data start address."
            help
            "The address where the kernel data starts."

        config COMMON_CLK_FREQ
            hex "The clock frequency in kHz"
            default 1000
            prompt "Set the clock frequency"
            help
            "The clock frequency in kHz"

        endmenu
    endmenu

    menu "Drivers"
        menu "TTY"
            config COMMON_STDIO_PORT
                hex
                default 0x81
                range 0x00 0xFF
                prompt "Set the TTY(stdio) port"
                help
                "The TTY port which is used by the TTY driver for serial communication"

        endmenu
    endmenu

    menu "Target"
        config COMMON_TARGET_BEMU80
            bool
            default y
            prompt "Build for the bemu80 emulator target"
            help
            "Build for the bemu80 emulator target. This is the default target."
    endmenu

endmenu
